:root{
    --text: #193d4f;
    --background: #fcf6f4;
    --border: #8d8d8d;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    background: var(--background);
    margin: 0;
}

header {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding: 15px;

    @media (max-width: 600px) {
        padding: 10px;
    }

    .logo-text {
        text-align: center;
        text-transform: uppercase;

        .title {
            font-weight: 500;
            font-size: 28px;
            padding: 5px 0;

            @media (max-width: 600px) {
                font-size: 20px;
            }
        }

        .subtitle {
            font-weight: 300;
            font-size: 14px;

            @media (max-width: 600px) {
                font-size: 10px;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 40px;

    @media (max-width: 360px) {
        padding: 0 20px;
    }


    .hero {
        max-width: 600px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        .verse {
            font-family: 'oranienbaum-regular', serif;
            line-height: 1.6;
            font-size: 36px;
            text-align: justify;

            @media (max-width: 600px) {
                font-size: 20px;
            }
        }

        .reference {
            display: block;
            margin-top: 10px;
            align-self: flex-end;
            font-size: 24px;
            font-family: 'Montserrat', sans-serif;

            &::before {
                content: '—';
                margin-right: 7px;
            }
        }
    }
}
